@charset "UTF-8";
/*RESET - ╤ü╨▒╤Ç╨╛╤ü ╤ü╤é╨╕╨╗╨╡╨╣*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic");
/* line 1, ../scss/_reset.scss */
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
  background: transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
}

/* line 1, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 1, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 1, ../scss/_reset.scss */
table, table td {
  padding: 0;
  border: none;
  border-collapse: collapse;
}

/* line 1, ../scss/_reset.scss */
img {
  vertical-align: top;
}

/* line 1, ../scss/_reset.scss */
embed {
  vertical-align: top;
}

/* line 1, ../scss/_reset.scss */
input[type=text], textarea {
  outline: none;
  border-radius: 0;
}

/*DEFAULT STYLES - ╨│╨╗╨╛╨▒╨░╨╗╤î╨╜╤ï╨╡ ╤ü╤é╨╕╨╗╨╕*/
@font-face {
  font-family: 'Conv_ReformaGroteskDemiC';
  src: url("../font/ReformaGroteskDemiC.eot");
  src: local("Γÿ║"), url("../font/ReformaGroteskDemiC.woff") format("woff"), url("fonts/ReformaGroteskDemiC.ttf") format("truetype"), url("fonts/ReformaGroteskDemiC.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'a_futuricablackregular';
  src: url("../font/6859-webfont.woff2") format("woff2"), url("../font/6859-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LEGOChalet60-Bold';
  src: url("../font/LEGOChalet60-Bold.eot");
  src: url("../font/LEGOChalet60-Bold.ttf") format("truetype"), url("../font/LEGOChalet60-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/* line 41, ../scss/_default.scss */
html {
  height: 100%;
}

/* line 46, ../scss/_default.scss */
body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;
  margin: 0;
  font-size: 18px;
  line-height: 1.27;
  color: #fff;
  background: #001041;
  font-family: "PT Sans", sans-serif, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 66, ../scss/_default.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 75, ../scss/_default.scss */
#content {
  background: url(../images/bg.jpg) 0 0 repeat-x;
  -webkit-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  background-attachment: fixed;
  overflow: hidden;
  margin-top: 65px;
  padding-top: 30px;
}

/* line 86, ../scss/_default.scss */
.container {
  width: 1140px;
  margin: 0 auto;
}

/* line 96, ../scss/_default.scss */
.container2 {
  width: 840px;
  margin: 0 auto;
}

/* line 102, ../scss/_default.scss */
::selection,
::-moz-selection {
  background: #000;
  color: #fff;
}

/* line 108, ../scss/_default.scss */
.p_abs {
  position: absolute;
}

/* line 109, ../scss/_default.scss */
.p_rel {
  position: relative;
}

/* line 110, ../scss/_default.scss */
.p_fix {
  position: fixed;
}

/* line 111, ../scss/_default.scss */
.clear {
  clear: both;
  width: 100%;
  line-height: 0;
  font-size: 0;
}

/* line 112, ../scss/_default.scss */
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 119, ../scss/_default.scss */
.wrapper {
  overflow: hidden;
}

/* line 120, ../scss/_default.scss */
.f_elem > *:first-child {
  margin-top: 0 !important;
}

/* line 121, ../scss/_default.scss */
.f_elem1 > *:first-child {
  margin-top: 0 !important;
  border: none !important;
}

/* line 123, ../scss/_default.scss */
.bg_none {
  background: none !important;
}

/* line 125, ../scss/_default.scss */
.fw_bold {
  font-weight: bold;
}

/* line 130, ../scss/_default.scss */
p {
  margin: 0 0 15px 0;
  min-height: 1px;
}

/* line 136, ../scss/_default.scss */
a {
  color: #fff;
  text-decoration: none;
}
/* line 140, ../scss/_default.scss */
a:hover {
  color: #ffc000;
  text-decoration: none;
}

/* line 147, ../scss/_default.scss */
.tac {
  text-align: center;
}

/* line 151, ../scss/_default.scss */
.tal {
  text-align: left;
}

/* line 155, ../scss/_default.scss */
.tar {
  text-align: right;
}

/* line 161, ../scss/_default.scss */
.mb1 {
  margin-bottom: 1px;
}

/* line 162, ../scss/_default.scss */
.mb2 {
  margin-bottom: 2px;
}

/* line 163, ../scss/_default.scss */
.mb3 {
  margin-bottom: 3px;
}

/* line 164, ../scss/_default.scss */
.mb4 {
  margin-bottom: 4px;
}

/* line 165, ../scss/_default.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 166, ../scss/_default.scss */
.mb6 {
  margin-bottom: 6px;
}

/* line 167, ../scss/_default.scss */
.mb7 {
  margin-bottom: 7px;
}

/* line 168, ../scss/_default.scss */
.mb8 {
  margin-bottom: 8px;
}

/* line 169, ../scss/_default.scss */
.mb9 {
  margin-bottom: 9px;
}

/* line 170, ../scss/_default.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 171, ../scss/_default.scss */
.mb11 {
  margin-bottom: 11px;
}

/* line 172, ../scss/_default.scss */
.mb12 {
  margin-bottom: 12px;
}

/* line 173, ../scss/_default.scss */
.mb13 {
  margin-bottom: 13px;
}

/* line 174, ../scss/_default.scss */
.mb14 {
  margin-bottom: 14px;
}

/* line 175, ../scss/_default.scss */
.mb15 {
  margin-bottom: 15px;
}

/* line 176, ../scss/_default.scss */
.mb16 {
  margin-bottom: 16px;
}

/* line 177, ../scss/_default.scss */
.mb17 {
  margin-bottom: 17px;
}

/* line 178, ../scss/_default.scss */
.mb18 {
  margin-bottom: 18px;
}

/* line 179, ../scss/_default.scss */
.mb19 {
  margin-bottom: 19px;
}

/* line 180, ../scss/_default.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 181, ../scss/_default.scss */
.mb21 {
  margin-bottom: 21px;
}

/* line 182, ../scss/_default.scss */
.mb22 {
  margin-bottom: 22px;
}

/* line 183, ../scss/_default.scss */
.mb23 {
  margin-bottom: 23px;
}

/* line 184, ../scss/_default.scss */
.mb24 {
  margin-bottom: 24px;
}

/* line 185, ../scss/_default.scss */
.mb25 {
  margin-bottom: 25px;
}

/* line 186, ../scss/_default.scss */
.mb26 {
  margin-bottom: 26px;
}

/* line 187, ../scss/_default.scss */
.mb27 {
  margin-bottom: 27px;
}

/* line 188, ../scss/_default.scss */
.mb28 {
  margin-bottom: 28px;
}

/* line 189, ../scss/_default.scss */
.mb29 {
  margin-bottom: 29px;
}

/* line 190, ../scss/_default.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 191, ../scss/_default.scss */
.mb31 {
  margin-bottom: 31px;
}

/* line 192, ../scss/_default.scss */
.mb32 {
  margin-bottom: 32px;
}

/* line 193, ../scss/_default.scss */
.mb33 {
  margin-bottom: 33px;
}

/* line 194, ../scss/_default.scss */
.mb34 {
  margin-bottom: 34px;
}

/* line 195, ../scss/_default.scss */
.mb35 {
  margin-bottom: 35px;
}

/* line 196, ../scss/_default.scss */
.mb36 {
  margin-bottom: 36px;
}

/* line 197, ../scss/_default.scss */
.mb37 {
  margin-bottom: 37px;
}

/* line 198, ../scss/_default.scss */
.mb38 {
  margin-bottom: 38px;
}

/* line 199, ../scss/_default.scss */
.mb39 {
  margin-bottom: 39px;
}

/* line 200, ../scss/_default.scss */
.mb40 {
  margin-bottom: 40px;
}

/* line 201, ../scss/_default.scss */
.mb41 {
  margin-bottom: 41px;
}

/* line 202, ../scss/_default.scss */
.mb42 {
  margin-bottom: 42px;
}

/* line 203, ../scss/_default.scss */
.mb43 {
  margin-bottom: 43px;
}

/* line 204, ../scss/_default.scss */
.mb44 {
  margin-bottom: 44px;
}

/* line 205, ../scss/_default.scss */
.mb45 {
  margin-bottom: 45px;
}

/* line 206, ../scss/_default.scss */
.mb46 {
  margin-bottom: 46px;
}

/* line 207, ../scss/_default.scss */
.mb47 {
  margin-bottom: 47px;
}

/* line 208, ../scss/_default.scss */
.mb48 {
  margin-bottom: 48px;
}

/* line 209, ../scss/_default.scss */
.mb49 {
  margin-bottom: 49px;
}

/* line 210, ../scss/_default.scss */
.mb50 {
  margin-bottom: 50px;
}

/* line 211, ../scss/_default.scss */
.mb51 {
  margin-bottom: 51px;
}

/* line 212, ../scss/_default.scss */
.mb52 {
  margin-bottom: 52px;
}

/* line 213, ../scss/_default.scss */
.mb53 {
  margin-bottom: 53px;
}

/* line 214, ../scss/_default.scss */
.mb54 {
  margin-bottom: 54px;
}

/* line 215, ../scss/_default.scss */
.mb55 {
  margin-bottom: 55px;
}

/* line 216, ../scss/_default.scss */
.mb58 {
  margin-bottom: 58px;
}

/* line 217, ../scss/_default.scss */
.mb62 {
  margin-bottom: 62px;
}

/* line 218, ../scss/_default.scss */
.mb75 {
  margin-bottom: 75px;
}

/* line 219, ../scss/_default.scss */
.mb125 {
  margin-bottom: 125px;
}

/* line 222, ../scss/_default.scss */
.reg {
  text-transform: uppercase;
}

/* line 223, ../scss/_default.scss */
.f_left {
  float: left;
}

/* line 224, ../scss/_default.scss */
.f_right {
  float: right;
}

/* line 225, ../scss/_default.scss */
.al_left {
  text-align: left;
}

/* line 226, ../scss/_default.scss */
.al_right {
  text-align: right;
}

/* line 227, ../scss/_default.scss */
.al_center {
  text-align: center;
}

/* line 229, ../scss/_default.scss */
.it {
  font-style: italic;
}

/* line 230, ../scss/_default.scss */
.let {
  letter-spacing: -1px;
}

/* line 232, ../scss/_default.scss */
.full_w {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* line 239, ../scss/_default.scss */
.val_mid {
  vertical-align: middle;
}

/* line 241, ../scss/_default.scss */
.td_und {
  text-decoration: underline;
}

/* line 242, ../scss/_default.scss */
a.td_und {
  text-decoration: underline;
}
/* line 244, ../scss/_default.scss */
a.td_und:hover {
  text-decoration: none;
}

/* line 250, ../scss/_default.scss */
.blue-color {
  color: #151830;
}

/* line 254, ../scss/_default.scss */
.red-color {
  color: #e3010d;
}

/* line 258, ../scss/_default.scss */
.yellow-color {
  color: #ffc000;
}

/* line 262, ../scss/_default.scss */
.green-color {
  color: #1A4B27;
}

/* line 266, ../scss/_default.scss */
.white-color {
  color: #FFF;
}

/* line 270, ../scss/_default.scss */
.zoom-img {
  max-width: 100%;
  height: auto;
}

/*================================>> hovers <<========================================*/
/* line 277, ../scss/_default.scss */
a {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

/* line 283, ../scss/_default.scss */
a:hover {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

/* line 293, ../scss/_default.scss */
.grotesk {
  font-family: 'Conv_ReformaGroteskDemiC', sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 298, ../scss/_default.scss */
.afuturica {
  font-family: 'a_futuricablackregular', sans-serif;
}

/* line 301, ../scss/_default.scss */
.ptsans_nar {
  font-family: 'PT Sans Narrow', sans-serif;
}

/* line 304, ../scss/_default.scss */
.lego_bold {
  font-family: 'LEGOChalet60-Bold', sans-serif;
}

/* line 306, ../scss/_default.scss */
.lego_reg {
  font-family: 'LEGOChalet60-Bold', sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 1200px) {
  /* line 309, ../scss/_default.scss */
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 315, ../scss/_default.scss */
  .container2 {
    width: 100%;
  }
}
/* line 1, ../scss/_formstyler.scss */
.jq-checkbox,
.jq-radio {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 11, ../scss/_formstyler.scss */
.jq-checkbox input,
.jq-radio input {
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
  opacity: 0;
}

/* line 19, ../scss/_formstyler.scss */
.jq-file {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

/* line 24, ../scss/_formstyler.scss */
.jq-file input {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  margin: 0;
  padding: 0;
  opacity: 0;
  font-size: 100px;
  line-height: 1em;
}

/* line 35, ../scss/_formstyler.scss */
.jq-file__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 40, ../scss/_formstyler.scss */
.jq-selectbox,
.jq-select-multiple {
  position: relative;
  display: inline-block;
}

/* line 45, ../scss/_formstyler.scss */
.jq-selectbox select,
.jq-select-multiple select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

/* line 56, ../scss/_formstyler.scss */
.jq-selectbox li,
.jq-select-multiple li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

/* line 64, ../scss/_formstyler.scss */
.jq-selectbox {
  z-index: 99;
}

/* line 67, ../scss/_formstyler.scss */
.jq-selectbox__select {
  position: relative;
}

/* line 70, ../scss/_formstyler.scss */
.jq-selectbox__select-text {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 79, ../scss/_formstyler.scss */
.jq-selectbox__dropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 4px;
  overflow: hidden;
  border-radius: 10px;
  z-index: 999;
}

/* line 89, ../scss/_formstyler.scss */
.jq-selectbox__search input {
  -webkit-appearance: textfield;
}

/* line 92, ../scss/_formstyler.scss */
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 96, ../scss/_formstyler.scss */
.jq-selectbox__dropdown ul {
  position: relative;
  min-width: 140px;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  padding: 10px 0;
  -webkit-overflow-scrolling: touch;
  color: #000;
  background-color: #fff;
}

/* line 107, ../scss/_formstyler.scss */
.jq-select-multiple ul {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* line 112, ../scss/_formstyler.scss */
.jq-number {
  display: inline-block;
}

/* line 115, ../scss/_formstyler.scss */
.jq-number__field input {
  -moz-appearance: textfield;
  text-align: left;
  /* Σ║ƒΣ╗ì∩┐╜∩┐╜ Opera Presto∩┐╜*/
}

/* line 119, ../scss/_formstyler.scss */
.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
  margin: 0;
  /* Σ║Ä Σ╗ÄΦêÆΣ╗ÄΣ║│∩┐╜-∩┐╜Σ╗é σ╝ì∩┐╜ΦêÆ∩┐╜Σ║░Σ║á∩┐╜ΦêÆ∩┐╜ Σ╗ù∩┐╜Σ║│∩┐╜∩┐╜∩┐╜∩┐╜∩┐╜Σ║Ä∩┐╜Σ║á∩┐╜ Σ╗é∩┐╜∩┐╜∩┐╜∩┐╜Σ╗ù */
  -webkit-appearance: none;
}

/* line 125, ../scss/_formstyler.scss */
.jq-selectbox__trigger {
  position: absolute;
  right: 8px;
  width: 15px;
  height: 100%;
  top: 0;
  background: url(../images/select-arrow.png) 0 50% no-repeat;
  background-size: 100% auto;
}

/* line 135, ../scss/_formstyler.scss */
.jq-selectbox__dropdown ul li {
  padding: 6px 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 140, ../scss/_formstyler.scss */
.jq-selectbox__dropdown ul li:last-child {
  border: none;
}

/* line 144, ../scss/_formstyler.scss */
.jq-selectbox__dropdown ul li:hover {
  cursor: pointer;
  background-color: #ffc000;
  color: #000;
}

/* ------ Header ------*/
/* line 1, ../scss/blocks/_header.scss */
header {
  box-shadow: 3px 4px 14px 2px rgba(1, 1, 1, 0.35);
  background-color: #001041;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  z-index: 999;
}

/* line 12, ../scss/blocks/_header.scss */
.header__tools {
  padding: 16px 30px 0 0;
}

/* line 20, ../scss/blocks/_header.scss */
.primary-nav__list li {
  float: left;
  margin: 0 25px;
}
/* line 25, ../scss/blocks/_header.scss */
.primary-nav__list a {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .5px;
}
/* line 32, ../scss/blocks/_header.scss */
.primary-nav__list a:hover {
  color: #ffc000;
}
/* line 35, ../scss/blocks/_header.scss */
.primary-nav__list a.current {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 2px 6px;
}
/* line 39, ../scss/blocks/_header.scss */
.primary-nav__list a.current:hover {
  border-color: #FFC000;
}

/* line 47, ../scss/blocks/_header.scss */
.header__auth-links {
  margin-left: 90px;
}
/* line 50, ../scss/blocks/_header.scss */
.header__auth-links a {
  font-size: 16px;
  vertical-align: middle;
  font-family: 'PT Sans Narrow', sans-serif;
}

/* line 58, ../scss/blocks/_header.scss */
.menu_btn {
  display: none;
  width: 40px;
  height: 40px;
  float: right;
  cursor: pointer;
  margin-top: 7px;
  position: relative;
  z-index: 10;
  background: url(../images/icon/menu.png) 50% 50% no-repeat;
}

/* line 69, ../scss/blocks/_header.scss */
.menu_close {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url(../images/icon/r_close.png) 50% 50% no-repeat;
  -webkit-background-size: 32px 32px;
  -o-background-size: 32px 32px;
  background-size: 32px 32px;
}

@media only screen and (max-width: 1024px) {
  /* line 88, ../scss/blocks/_header.scss */
  .header__tools {
    padding: 16px 0 0;
  }
}
@media only screen and (max-width: 995px) {
  /* line 96, ../scss/blocks/_header.scss */
  .primary-nav__list li {
    margin: 0 10px;
  }
}
@media only screen and (max-width: 880px) {
  /* line 104, ../scss/blocks/_header.scss */
  .header__auth-links {
    margin-left: 16px;
  }

  /* line 108, ../scss/blocks/_header.scss */
  .primary-nav__list a {
    font-size: 13px;
    line-height: 2;
  }
}
@media only screen and (max-width: 768px) {
  /* line 115, ../scss/blocks/_header.scss */
  .menu_btn {
    display: inline-block;
    cursor: pointer !important;
  }

  /* line 120, ../scss/blocks/_header.scss */
  .header__tools {
    position: fixed;
    right: -350px;
    top: 0;
    bottom: 0;
    width: 320px;
    z-index: 20;
    background-color: #001041;
    padding: 50px 15px 15px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  /* line 137, ../scss/blocks/_header.scss */
  .header__tools .primary-nav {
    width: 100%;
  }
  /* line 142, ../scss/blocks/_header.scss */
  .header__tools .primary-nav__list li {
    display: inline-block;
    width: 100%;
    float: none;
    margin: 0 0 15px;
  }
  /* line 151, ../scss/blocks/_header.scss */
  .header__tools .menu_close {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 20;
  }

  /* line 161, ../scss/blocks/_header.scss */
  .nav_overlay .header__tools {
    right: 0;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
}
/* line 1, ../scss/blocks/_table.scss */
.data_table {
  border: 10px solid #fff;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  margin-bottom: 115px;
}
/* line 8, ../scss/blocks/_table.scss */
.data_table__row {
  line-height: 2.2;
}
/* line 11, ../scss/blocks/_table.scss */
.data_table__row:not(:last-child) {
  border-bottom: 4.5px solid #fff;
}
/* line 13, ../scss/blocks/_table.scss */
.data_table__row:first-child {
  color: #001041;
  background-color: #FFF;
  font-family: 'LEGOChalet60-Bold', sans-serif;
}
/* line 16, ../scss/blocks/_table.scss */
.data_table__row:first-child span {
  color: #001041;
}
/* line 20, ../scss/blocks/_table.scss */
.data_table__row span {
  width: 48%;
  color: #FFF;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
/* line 28, ../scss/blocks/_table.scss */
.data_table__row span:first-child {
  float: left;
  border-right: 6px solid #fff;
}
/* line 33, ../scss/blocks/_table.scss */
.data_table__row span:last-child {
  float: right;
}

@media only screen and (max-width: 615px) {
  /* line 41, ../scss/blocks/_table.scss */
  .data_table {
    border: 7px solid #fff;
  }
  /* line 46, ../scss/blocks/_table.scss */
  .data_table__row span {
    font-size: 18px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 59, ../scss/blocks/_table.scss */
  .data_table__row span {
    width: 100%;
    float: none;
    font-size: 18px;
  }
  /* line 64, ../scss/blocks/_table.scss */
  .data_table__row span:first-child {
    border: none;
  }
}
/* line 4, ../scss/blocks/_steps.scss */
.step__item {
  width: 25%;
  float: left;
  position: relative;
}
/* line 9, ../scss/blocks/_steps.scss */
.step__item::before {
  content: "";
  top: 13px;
  left: 10px;
  right: 0;
  height: 60px;
  position: absolute;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background: url(../images/bg.jpg) 0 0 no-repeat;
}
/* line 20, ../scss/blocks/_steps.scss */
.step__item:not(:last-child)::before {
  right: -55px;
}
/* line 25, ../scss/blocks/_steps.scss */
.step__item:last-child::after {
  content: "";
  width: 218px;
  height: 216px;
  top: -90px;
  right: 0;
  visibility: visible;
  position: absolute;
  background: url(../images/round_img.png) 0 0 no-repeat;
}
/* line 37, ../scss/blocks/_steps.scss */
.step__item__img {
  float: left;
  width: 85px;
  z-index: 20;
  position: relative;
}
/* line 44, ../scss/blocks/_steps.scss */
.step__item__text {
  float: left;
  z-index: 20;
  height: 60px;
  display: table;
  margin-top: 13px;
  font-size: 12px;
  position: relative;
  text-align: center;
  width: calc(100% - 90px);
  text-transform: uppercase;
  font-family: 'LEGOChalet60-Bold', sans-serif;
}
/* line 57, ../scss/blocks/_steps.scss */
.step__item__text span {
  display: table-cell;
  vertical-align: middle;
}

/* line 1, ../scss/blocks/_personal-data.scss */
.personal-data {
  display: table;
  width: 100%;
}
/* line 5, ../scss/blocks/_personal-data.scss */
.personal-data__item {
  display: table-cell;
  width: 33.3%;
}
/* line 9, ../scss/blocks/_personal-data.scss */
.personal-data__item:last-child {
  vertical-align: middle;
}
/* line 15, ../scss/blocks/_personal-data.scss */
.personal-data__list > li:first-child ~ li {
  margin-top: 35px;
}
/* line 19, ../scss/blocks/_personal-data.scss */
.personal-data__list strong {
  display: inline-block;
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  /* line 29, ../scss/blocks/_personal-data.scss */
  .personal-data__item {
    width: 50%;
    display: inline-block;
    margin-bottom: 30px;
  }
  /* line 34, ../scss/blocks/_personal-data.scss */
  .personal-data__item:last-child {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 667px) {
  /* line 42, ../scss/blocks/_personal-data.scss */
  .personal-data {
    margin-bottom: 20px;
  }

  /* line 46, ../scss/blocks/_personal-data.scss */
  .personal-data__item {
    width: 100%;
    float: none;
  }

  /* line 52, ../scss/blocks/_personal-data.scss */
  .personal-gallery-box {
    padding-top: 50px;
  }
}
/* line 1, ../scss/blocks/_footer.scss */
footer {
  padding: 34px 0;
  text-align: center;
  background: url(../images/bg.jpg) 0 0 repeat-x;
}

/* line 10, ../scss/blocks/_footer.scss */
.footer-nav li {
  display: inline-block;
  position: relative;
  font-size: 19px;
  padding: 0 50px;
}
/* line 16, ../scss/blocks/_footer.scss */
.footer-nav li::before {
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -3px;
  background-color: #fff;
  content: "";
}
/* line 29, ../scss/blocks/_footer.scss */
.footer-nav li:first-child::before {
  display: none;
}

/* line 36, ../scss/blocks/_footer.scss */
.footer-copyright {
  font-size: 13px;
  line-height: 18px;
}

@media only screen and (max-width: 1024px) {
  /* line 48, ../scss/blocks/_footer.scss */
  .footer-nav li {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 59, ../scss/blocks/_footer.scss */
  .footer-nav li {
    width: 100%;
    float: none;
  }
  /* line 64, ../scss/blocks/_footer.scss */
  .footer-nav li::before {
    display: none;
  }
}
/* line 1, ../scss/blocks/_banners.scss */
.main_banner {
  min-height: 100%;
  position: relative;
  padding-top: 500px;
  padding-bottom: 3%;
}
/* line 8, ../scss/blocks/_banners.scss */
.main_banner .title--2 {
  width: 390px;
  font-size: 45px;
  padding: 43px 25px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 230px;
}
/* line 17, ../scss/blocks/_banners.scss */
.main_banner__img_box {
  left: 50%;
  top: 130px;
  -webkit-transform: translateX(160px);
  -moz-transform: translateX(160px);
  -ms-transform: translateX(160px);
  -o-transform: translateX(160px);
  transform: translateX(160px);
  position: absolute;
}

/* line 30, ../scss/blocks/_banners.scss */
[data-bg="main_bg"] {
  background: url(../images/main_bg.png) 50px 0 no-repeat;
}

/* line 35, ../scss/blocks/_banners.scss */
.prizes_box {
  max-width: 96%;
  margin: 0 auto;
}
/* line 39, ../scss/blocks/_banners.scss */
.prizes_box img {
  max-width: 100%;
}

@media only screen and (max-width: 1199px) {
  /* line 49, ../scss/blocks/_banners.scss */
  .step2 {
    margin-top: 0;
  }

  /* line 53, ../scss/blocks/_banners.scss */
  [data-bg="main_bg"] {
    background-position: 0 0;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 60, ../scss/blocks/_banners.scss */
  .main_banner__img_box {
    display: none;
  }
}
@media only screen and (max-width: 995px) {
  /* line 67, ../scss/blocks/_banners.scss */
  .step__item__img {
    width: 60px;
    height: 60px;
    margin-top: 13px;
  }
  /* line 71, ../scss/blocks/_banners.scss */
  .step__item__img img {
    max-width: 100%;
  }
  /* line 73, ../scss/blocks/_banners.scss */
  .step__item__text {
    width: calc(100% - 65px);
  }
}
@media only screen and (max-width: 850px) {
  /* line 82, ../scss/blocks/_banners.scss */
  .step__item {
    width: 50%;
  }

  /* line 86, ../scss/blocks/_banners.scss */
  .step__item:last-child::after {
    display: none;
  }

  /* line 88, ../scss/blocks/_banners.scss */
  .step__item:nth-child(2)::before {
    right: 0;
  }
}
@media only screen and (max-width: 768px) {
  /* line 94, ../scss/blocks/_banners.scss */
  [data-bg="main_bg"] {
    padding-top: 270px;
    -webkit-background-size: 80%;
    -o-background-size: 80%;
    background-size: 80%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 104, ../scss/blocks/_banners.scss */
  [data-bg="main_bg"] {
    padding-top: 220px;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
  }
}
@media only screen and (max-width: 480px) {
  /* line 118, ../scss/blocks/_banners.scss */
  .step__item {
    float: none;
    width: 100%;
  }
  /* line 122, ../scss/blocks/_banners.scss */
  .step__item:not(:last-child)::before {
    right: 0;
  }
}
/* line 2, ../scss/_titles.scss */
.title--1 {
  font-size: 42px;
  line-height: 1.23;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 9, ../scss/_titles.scss */
.title--2 {
  font-size: 35px;
  line-height: 1.23;
}

/* line 14, ../scss/_titles.scss */
.title--3 {
  font-size: 25px;
  line-height: 1.22;
}

/* line 19, ../scss/_titles.scss */
.title--4 {
  font-size: 37px;
  line-height: 1.1;
}

/* line 24, ../scss/_titles.scss */
.title--5 {
  font-size: 20px;
  line-height: 1;
}

/* line 29, ../scss/_titles.scss */
.title--6 {
  font-weight: bold;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
}

/* line 37, ../scss/_titles.scss */
[data-bg="title_bg"] {
  padding: 10px 8px 8px;
  background: url(../images/white_bg.png) 50% 0 no-repeat;
  -webkit-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}

@media only screen and (max-width: 768px) {
  /* line 51, ../scss/_titles.scss */
  .title--2 {
    font-size: 32px;
  }

  /* line 55, ../scss/_titles.scss */
  [data-bg="title_bg"] {
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  /* line 60, ../scss/_titles.scss */
  [data-bg="title_bg"].title--3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 667px) {
  /* line 67, ../scss/_titles.scss */
  .title--2 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 550px) {
  /* line 73, ../scss/_titles.scss */
  .title--2 {
    font-size: 22px;
  }

  /* line 77, ../scss/_titles.scss */
  .title--1 {
    font-size: 32px;
  }

  /* line 81, ../scss/_titles.scss */
  [data-bg="title_bg"].title--3 {
    font-size: 17px;
  }
}
/*FORMS - ╤ä╨╛╤Ç╨╝╤ï*/
/* line 6, ../scss/_button.scss */
.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 6px 0 #66211b;
  border-radius: 11px;
  background-color: #e23e21;
  border: none;
  font-weight: bold;
  display: inline-block;
  font-size: 25px;
  line-height: 62px;
  height: 62px;
  padding: 0 20px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  outline: none;
  min-width: 230px;
  text-transform: uppercase;
}
/* line 28, ../scss/_button.scss */
.button:hover {
  color: #FFF;
  box-shadow: 2px -6px 0 transparent;
}
/* line 33, ../scss/_button.scss */
.button--default, .button[disabled] {
  cursor: default;
  opacity: .4;
}

/* line 41, ../scss/_button.scss */
.button2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 6px 0 #66211b;
  border-radius: 11px;
  background-color: #e23e21;
  border: none;
  display: inline-block;
  font-size: 18px;
  line-height: 42px;
  height: 42px;
  padding: 0 20px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 62, ../scss/_button.scss */
.button2:hover {
  opacity: 1;
  background-color: #e73313;
  box-shadow: 2px 6px 0 #010101;
}
/* line 68, ../scss/_button.scss */
.button2--default, .button2[disabled] {
  cursor: default;
  opacity: .4;
}

/* line 75, ../scss/_button.scss */
.button3 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 6px 0 #010101;
  background-color: #ffc000;
  border: none;
  display: inline-block;
  font-size: 23px;
  line-height: 55px;
  height: 50px;
  padding: 0 10px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #000000;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
}
/* line 97, ../scss/_button.scss */
.button3:hover {
  opacity: 1;
  background-color: #e73313;
  box-shadow: 2px 6px 0 #010101;
}
/* line 103, ../scss/_button.scss */
.button3--default, .button3[disabled] {
  cursor: default;
  opacity: .4;
}

@media only screen and (max-width: 768px) {
  /* line 113, ../scss/_button.scss */
  .button {
    font-size: 24px;
    min-width: 180px;
  }
}
/*TABS - ╤é╨░╨▒╤ï*/
/* line 1, ../scss/_tabs.scss */
.tab {
  display: none;
  padding: 20px;
}
/* line 3, ../scss/_tabs.scss */
.tabs__bookmark {
  position: relative;
  z-index: 5;
  padding: 9px 10px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 137px;
  height: 133px;
  margin: 0 3px;
}
/* line 6, ../scss/_tabs.scss */
.tabs__bookmarks {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  padding-bottom: 160px;
}
/* line 21, ../scss/_tabs.scss */
.tabs__bookmark img {
  width: 100%;
}
/* line 26, ../scss/_tabs.scss */
.tabs__wrapper {
  margin-left: -30px;
  margin-right: -30px;
  display: inline-block;
  margin-bottom: 75px;
  min-height: 780px;
  width: 100%;
}
/* line 39, ../scss/_tabs.scss */
.tab--active {
  display: block;
}

/* line 45, ../scss/_tabs.scss */
.tabs_wrap {
  background-size: 100% auto;
  margin-top: 54px;
  padding-top: 60px;
}
/* line 51, ../scss/_tabs.scss */
.tabs_wrap .grid {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* line 62, ../scss/_tabs.scss */
.prize {
  padding: 0 30px;
  margin-bottom: 75px;
  text-align: center;
  float: none !important;
}
/* line 69, ../scss/_tabs.scss */
.prize.grid--45p .img_box {
  text-align: center;
  height: 400px;
}
/* line 75, ../scss/_tabs.scss */
.prize__title {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  font-family: "PT Sans", sans-serif;
}
/* line 83, ../scss/_tabs.scss */
.prize__subtitle {
  font-size: 18px;
  color: #FFC000;
  text-transform: uppercase;
  text-align: center;
  font-family: "PT Sans", sans-serif;
}
/* line 91, ../scss/_tabs.scss */
.prize .img_box {
  text-align: center;
  height: 250px;
}
/* line 95, ../scss/_tabs.scss */
.prize .img_box img {
  max-width: 100%;
  max-height: auto;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

/* line 106, ../scss/_tabs.scss */
.questions {
  padding-top: 114px;
}
/* line 109, ../scss/_tabs.scss */
.questions .button {
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  display: block;
}
/* line 116, ../scss/_tabs.scss */
.questions .sub-menu {
  display: none;
  padding: 0 30px 20px;
}
/* line 121, ../scss/_tabs.scss */
.questions .accordion_item_link {
  font-size: 25px;
  margin-bottom: 20px;
  display: inline-block;
  cursor: pointer;
}
/* line 126, ../scss/_tabs.scss */
.questions .accordion_item_link span {
  border-bottom: 1px dashed #fff;
}
/* line 131, ../scss/_tabs.scss */
.questions .accordion_item_link.active span,
.questions .accordion_item_link:hover span {
  border-bottom-color: transparent;
}
/* line 134, ../scss/_tabs.scss */
.questions .num_list {
  margin-left: 30px;
  margin-bottom: 30px;
  counter-reset: list 0;
}
/* line 139, ../scss/_tabs.scss */
.questions .num_list li {
  list-style-type: none;
  font-size: 15px;
  line-height: 1.5;
}
/* line 144, ../scss/_tabs.scss */
.questions .num_list li:before {
  counter-increment: list;
  /* ╨ú╨▓╨╡╨╗╨╕╤ç╨╕╨▓╨░╨╡╨╝ ╨╖╨╜╨░╤ç╨╡╨╜╨╕╨╡ ╤ü╤ç╨╡╤é╤ç╨╕╨║╨░ */
  content: counter(list) ". ";
  /* ╨Æ╤ï╨▓╨╛╨┤╨╕╨╝ ╤ç╨╕╤ü╨╗╨╛ */
}

/* line 155, ../scss/_tabs.scss */
.title--winner {
  font-size: 30px;
  text-transform: uppercase;
}

/* line 160, ../scss/_tabs.scss */
.winner--list {
  counter-reset: list;
  text-align: center;
  margin-bottom: 75px;
}
/* line 167, ../scss/_tabs.scss */
.winner--list li:not(:last-child) {
  margin-bottom: 25px;
}
/* line 171, ../scss/_tabs.scss */
.winner--list li a {
  text-decoration: underline;
}
/* line 174, ../scss/_tabs.scss */
.winner--list li a::before {
  counter-increment: list;
  content: counter(list) ". ";
}
/* line 179, ../scss/_tabs.scss */
.winner--list li a:hover {
  text-decoration: none;
}
/* line 184, ../scss/_tabs.scss */
.winner--list li span {
  display: inline-block;
  margin-left: 25px;
}

@media only screen and (max-width: 1100px) {
  /* line 192, ../scss/_tabs.scss */
  .tabs__wrapper {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 991px) {
  /* line 201, ../scss/_tabs.scss */
  .tabs__wrapper .grid--33p {
    width: 50%;
  }

  /* line 206, ../scss/_tabs.scss */
  .tabs__bookmarks {
    padding-bottom: 50px;
  }

  /* line 210, ../scss/_tabs.scss */
  .grid--45p.prize {
    order: -1;
    width: 100%;
  }

  /* line 215, ../scss/_tabs.scss */
  .grid--25p.prize {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 222, ../scss/_tabs.scss */
  .tabs__wrapper .grid--33p {
    width: 100%;
  }

  /* line 227, ../scss/_tabs.scss */
  .tabs__wrapper {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }

  /* line 233, ../scss/_tabs.scss */
  .grid--25p.prize {
    width: 100%;
  }

  /* line 237, ../scss/_tabs.scss */
  .tab,
  .prize {
    padding: 0;
  }

  /* line 242, ../scss/_tabs.scss */
  .prize.grid--45p .img_box {
    height: 300px;
  }
}
@media only screen and (max-width: 550px) {
  /* line 250, ../scss/_tabs.scss */
  .questions .accordion_item_link {
    font-size: 20px;
  }
}
/*MODALS - ╨╝╨╛╨┤╨░╨╗╤î╨╜╤ï╨╡ ╨╛╨║╨╜╨░*/
/* line 46, ../scss/_modals.scss */
.body-modal {
  overflow: hidden;
}

/* line 50, ../scss/_modals.scss */
.modal {
  color: #000;
  overflow: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1001;
  text-align: center;
  vertical-align: middle;
  bottom: 0;
  display: none;
  font-size: 16px;
  line-height: 22px;
}
/* line 52, ../scss/_modals.scss */
.modals__fog {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.6;
  z-index: 1000;
}
/* line 82, ../scss/_modals.scss */
.modal:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 1px;
  vertical-align: middle;
}
/* line 90, ../scss/_modals.scss */
.modal__body {
  position: relative;
  z-index: 1;
  padding: 30px;
  width: 640px;
  box-sizing: border-box;
  display: inline-block;
  background: #001041;
  text-align: left;
  border: none;
  vertical-align: middle;
  border-radius: 7px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
/* line 104, ../scss/_modals.scss */
.modal__body[data-popup-width="700"] {
  width: 700px;
}
/* line 109, ../scss/_modals.scss */
.modal__header {
  padding: 0;
  border-bottom: none;
}
/* line 114, ../scss/_modals.scss */
.modal__content {
  padding: 0;
  color: #fff;
}
/* line 119, ../scss/_modals.scss */
.modal__footer {
  padding: 0;
  border-top: none;
  margin: 0;
}
/* line 125, ../scss/_modals.scss */
.modal__close {
  position: absolute;
  z-index: 1;
  right: 6px;
  top: 5px;
  background: url(../images/icon/r_close.png) 0 0 no-repeat;
  width: 28px;
  height: 28px;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
/* line 137, ../scss/_modals.scss */
.modal__close:hover {
  opacity: 0.8;
}
/* line 142, ../scss/_modals.scss */
.modal__title {
  font-family: inherit;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
}

/* line 156, ../scss/_modals.scss */
.grids:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 163, ../scss/_modals.scss */
.grid--45p {
  width: 50%;
  float: left;
}

/* line 167, ../scss/_modals.scss */
.grid--25p {
  width: 25%;
  float: left;
}

/* line 171, ../scss/_modals.scss */
.grid--28p {
  width: 28%;
  float: left;
}

/* line 175, ../scss/_modals.scss */
.grid--30p {
  width: 30%;
  float: left;
}

/* line 179, ../scss/_modals.scss */
.grid--40p {
  width: 40%;
  float: left;
}

/* line 183, ../scss/_modals.scss */
.grid--33p {
  width: 33%;
  float: left;
}

/* line 187, ../scss/_modals.scss */
.grid--70p {
  width: 70%;
  float: left;
}

/* line 191, ../scss/_modals.scss */
.grid--60p {
  width: 60%;
}

/* line 194, ../scss/_modals.scss */
.grid--65p {
  width: 65%;
}

/* line 197, ../scss/_modals.scss */
.grid--right {
  float: right;
}

/* line 205, ../scss/_modals.scss */
.modal--add .dropzone {
  width: 250px;
  height: 297px;
  cursor: pointer;
  background: url(../images/file_icon.png) 0 0 no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
/* line 215, ../scss/_modals.scss */
.modal--add .dropzone.dz-started {
  background: url(../images/file_icon_dz.png) 0 0 no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  line-height: 296px;
  height: 296px;
}
/* line 224, ../scss/_modals.scss */
.modal--add .dz-preview {
  padding: 10px;
  text-align: center;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
/* line 233, ../scss/_modals.scss */
.modal--add .dz-preview .dz-filename {
  font-size: 18px;
  color: #FFC000;
  font-weight: bold;
  margin-bottom: 25px;
  text-transform: uppercase;
}
/* line 241, ../scss/_modals.scss */
.modal--add .dz-preview .dz-size,
.modal--add .dz-preview .dz-image,
.modal--add .dz-preview .dz-error-message,
.modal--add .dz-preview .dz-success-mark {
  display: none;
}
/* line 247, ../scss/_modals.scss */
.modal--add .grid--right {
  font-size: 21px;
  padding-top: 70px;
}
/* line 251, ../scss/_modals.scss */
.modal--add .grid--right input {
  opacity: 0;
  width: 100%;
  height: 55px;
  display: block;
  outline: none;
  cursor: pointer;
}
/* line 260, ../scss/_modals.scss */
.modal--add .grid--right .upload {
  margin-top: -55px;
}
/* line 263, ../scss/_modals.scss */
.modal--add .grid--right input:hover + .upload {
  opacity: 1;
  background-color: #e73313;
  box-shadow: 2px 6px 0 #010101;
}
/* line 271, ../scss/_modals.scss */
.modal--add .form__row {
  margin-bottom: 20px;
}

/* line 280, ../scss/_modals.scss */
.form__label {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 7px;
  line-height: 2;
}
/* line 289, ../scss/_modals.scss */
.form__input input {
  width: 100%;
  height: 44px;
  font-size: 18px;
  font-family: "PT Sans", sans-serif, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FFF;
  border: none;
  outline: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 302, ../scss/_modals.scss */
.form button {
  margin-top: 20px;
}
/* line 307, ../scss/_modals.scss */
.form__row {
  margin-bottom: 20px;
}
/* line 310, ../scss/_modals.scss */
.form__error {
  width: 70%;
  float: right;
}
/* line 315, ../scss/_modals.scss */
.form__select {
  padding-top: 5px;
}
/* line 319, ../scss/_modals.scss */
.form__description {
  font-size: 13px;
  line-height: 1.3;
}
/* line 324, ../scss/_modals.scss */
.form__checkbox {
  position: relative;
  display: block;
  width: 48px;
  height: 25px;
  float: left;
  margin-top: 2px;
}
/* line 333, ../scss/_modals.scss */
.form__checkbox input[type="checkbox"] {
  position: absolute;
  width: 23px;
  height: 23px;
  margin: 0;
  background-color: #FFF;
  opacity: 0;
  cursor: pointer;
  z-index: 30;
}
/* line 345, ../scss/_modals.scss */
.form__checkbox input[type="checkbox"] + span {
  width: 23px;
  height: 23px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 359, ../scss/_modals.scss */
.form__checkbox input[type="checkbox"]:checked + span::after {
  width: 19px;
  height: 19px;
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #151830;
  content: "";
  z-index: 20;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 377, ../scss/_modals.scss */
.form__checkbox + label {
  width: calc(100% - 48px);
  float: left;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
}
/* line 385, ../scss/_modals.scss */
.form__textarea {
  background: #fff;
  height: 243px;
  position: relative;
  border: none;
  box-shadow: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 394, ../scss/_modals.scss */
.form__textarea textarea {
  font-family: inherit;
  color: #000;
  font-size: 18px;
  line-height: 1.5;
  z-index: 2;
  display: block;
  width: 100%;
  padding: 10px 20px;
  outline: none;
  background: none;
  box-sizing: border-box;
  border: none;
  resize: none;
}

/* line 415, ../scss/_modals.scss */
.modal__subtitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
}

/* line 420, ../scss/_modals.scss */
.modal__text {
  font-weight: normal;
  font-size: 21px;
  line-height: 1.3;
}

/* line 433, ../scss/_modals.scss */
.modal--registration .social,
.modal--auth .social {
  text-align: center;
}
/* line 436, ../scss/_modals.scss */
.modal--registration .social__item,
.modal--auth .social__item {
  width: 48px;
  height: 48px;
  display: inline-block;
}
/* line 441, ../scss/_modals.scss */
.modal--registration .social__item img,
.modal--auth .social__item img {
  width: 100%;
  height: 100%;
}
/* line 448, ../scss/_modals.scss */
.modal--registration .form__elem--str,
.modal--auth .form__elem--str {
  display: inline-block;
}

/* line 457, ../scss/_modals.scss */
.modal--password-change .form__label {
  font-size: 21px;
}

/* line 465, ../scss/_modals.scss */
.modal--add-thx .button {
  font-size: 24px;
}

/*============================ Arctic modal =============================*/
/* line 470, ../scss/_modals.scss */
.popup_opacity ~ .arcticmodal-overlay {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

/* line 473, ../scss/_modals.scss */
.arcticmodal-overlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
  opacity: 1 !important;
}

/* line 477, ../scss/_modals.scss */
.arcticmodal-overlay,
.arcticmodal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  z-index: 99999;
}

/* line 479, ../scss/_modals.scss */
.arcticmodal-container {
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}

/* line 480, ../scss/_modals.scss */
*:first-child + html .arcticmodal-container {
  height: 100%;
}

/* line 481, ../scss/_modals.scss */
.arcticmodal-container_i {
  height: 100%;
  margin: 0 auto;
}

/* line 482, ../scss/_modals.scss */
.arcticmodal-container_i2 {
  padding: 50px;
  margin: 0;
  border: 0;
  vertical-align: middle;
}

/* line 483, ../scss/_modals.scss */
.arcticmodal-error {
  padding: 20px;
  border-radius: 10px;
  background: #000;
  color: #fff;
}

/* line 484, ../scss/_modals.scss */
.arcticmodal-loading {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: #000 url(loading.gif) no-repeat 50% 50%;
}

/* line 485, ../scss/_modals.scss */
.d_none {
  display: none;
}

/* line 490, ../scss/_modals.scss */
.box-modal {
  margin: 0 auto;
  padding: 35px 34px 35px 56px;
  position: relative;
  background: #001041;
  width: 700px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

/* line 500, ../scss/_modals.scss */
.arcticmodal-close {
  position: absolute;
  top: 27px;
  right: 36px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  background: url(../images/r_close.png) 0 0 no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
/* line 512, ../scss/_modals.scss */
.arcticmodal-close:hover {
  background-image: url(../images/close.png);
}

/* line 519, ../scss/_modals.scss */
.add_work .form_row {
  position: relative;
}
/* line 534, ../scss/_modals.scss */
.add_work__form figure .form_row,
.add_work__form figure figcaption {
  float: left;
  width: 50%;
}
/* line 540, ../scss/_modals.scss */
.add_work__form figure figcaption {
  padding-top: 70px;
}
/* line 543, ../scss/_modals.scss */
.add_work__form figure figcaption h5.fw_bold {
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.7px;
}
/* line 548, ../scss/_modals.scss */
.add_work__form figure figcaption input {
  opacity: 0;
  width: 100%;
  height: 55px;
  display: block;
  outline: none;
  cursor: pointer;
}
/* line 557, ../scss/_modals.scss */
.add_work__form figure figcaption .upload {
  margin-top: -55px;
}
/* line 560, ../scss/_modals.scss */
.add_work__form figure figcaption input:hover + .upload {
  opacity: 1;
  background-color: #e73313;
  box-shadow: 2px 6px 0 #010101;
}
/* line 571, ../scss/_modals.scss */
.add_work__form button {
  font-family: "PT Sans", sans-serif, sans-serif;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
}

/* line 581, ../scss/_modals.scss */
.form_row {
  margin-bottom: 20px;
}

/* line 585, ../scss/_modals.scss */
.form_label {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 7px;
}

/* line 593, ../scss/_modals.scss */
input.basic_input {
  width: 100%;
  height: 44px;
  font-size: 18px;
  font-family: "PT Sans", sans-serif, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FFF;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 607, ../scss/_modals.scss */
.fz13 {
  font-size: 13px;
}

/* line 608, ../scss/_modals.scss */
.d_block {
  display: block;
}

/* line 610, ../scss/_modals.scss */
.form-label--2 {
  display: block;
  float: left;
  width: 220px;
  font-weight: bold;
  line-height: 44px;
  font-size: 22px;
}
/* line 618, ../scss/_modals.scss */
.form-label--2 + .basic_input {
  float: left;
  width: calc(100% - 220px);
}

/* line 625, ../scss/_modals.scss */
.jq-selectbox__select {
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  font-family: "PT Sans", sans-serif, sans-serif;
  padding-left: 13px;
  padding-right: 20px;
  text-align: left;
  background-color: #FFF;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #151830;
}

/* line 642, ../scss/_modals.scss */
.jq-selectbox__select-text.placeholder {
  color: #d0d1d6;
}

/* line 646, ../scss/_modals.scss */
.birth-selects-wrapper {
  padding-top: 5px;
}
/* line 649, ../scss/_modals.scss */
.birth-selects-wrapper .select {
  margin-left: 15px;
}

/* line 654, ../scss/_modals.scss */
.birth-select--small {
  width: 74px;
}

/* line 658, ../scss/_modals.scss */
.birth-select--large {
  width: 125px;
}

/* line 663, ../scss/_modals.scss */
.sort-select--small {
  width: 220px;
}

/* line 667, ../scss/_modals.scss */
.sort-select--lg {
  width: 324px;
}

/* line 674, ../scss/_modals.scss */
.checkbox-wrap {
  display: block;
}
/* line 677, ../scss/_modals.scss */
.checkbox-wrap input[type="checkbox"] {
  visibility: hidden;
}
/* line 681, ../scss/_modals.scss */
.checkbox-wrap input[type="checkbox"]:checked + span::after {
  visibility: visible;
}
/* line 687, ../scss/_modals.scss */
.checkbox-wrap .checkbox-label {
  position: relative;
  display: block;
  padding-left: 45px;
  cursor: pointer;
}
/* line 693, ../scss/_modals.scss */
.checkbox-wrap .checkbox-label::before {
  width: 23px;
  height: 23px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  content: "";
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 707, ../scss/_modals.scss */
.checkbox-wrap .checkbox-label::after {
  width: 17px;
  height: 17px;
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  background: #151830;
  visibility: hidden;
  content: "";
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 727, ../scss/_modals.scss */
.regform-comment-text {
  font-size: 13px;
}

/* line 732, ../scss/_modals.scss */
.capcha-box__field-wrap {
  padding-top: 20px;
  width: 221px;
  margin-right: 22px;
}

/* line 742, ../scss/_modals.scss */
.filter_select__md {
  width: 221px;
}
/* line 745, ../scss/_modals.scss */
.filter_select__md .jq-selectbox {
  width: 100%;
}

/* line 749, ../scss/_modals.scss */
.filter_select__lg {
  width: 328px;
}
/* line 752, ../scss/_modals.scss */
.filter_select__lg .jq-selectbox {
  width: 100%;
}

/* line 760, ../scss/_modals.scss */
.filter_wrap .form__row:first-child {
  width: 45%;
  float: left;
}
/* line 764, ../scss/_modals.scss */
.filter_wrap .form__row:last-child {
  width: 55%;
  float: left;
}
/* line 771, ../scss/_modals.scss */
.filter_wrap__select .form__label {
  width: auto;
  line-height: 2.3;
  margin-right: 20px;
  display: inline-block;
}

/* line 785, ../scss/_modals.scss */
.feedback {
  width: 560px;
  margin-left: auto;
  margin-right: auto;
}

/* line 791, ../scss/_modals.scss */
.file__elem {
  opacity: 1;
  position: relative;
  margin-bottom: 30px;
}
/* line 797, ../scss/_modals.scss */
.file__elem input {
  padding: 16px 0;
  z-index: 50;
  position: relative;
  opacity: 0;
  cursor: pointer;
  float: right;
}
/* line 806, ../scss/_modals.scss */
.file__elem__text {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  font-size: 25px;
  font-weight: bold;
  color: #FFF;
  line-height: 1.5;
  padding: 5px 20px;
  border: 3px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: 'PT Sans Narrow', sans-serif;
}

@media only screen and (max-width: 1024px) {
  /* line 826, ../scss/_modals.scss */
  .form__label {
    font-size: 19px;
  }
}
@media only screen and (max-width: 991px) {
  /* line 834, ../scss/_modals.scss */
  .filter_wrap > .form__row:first-child, .filter_wrap > .form__row:last-child {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 786px) {
  /* line 847, ../scss/_modals.scss */
  .modal__body, .modal__body[data-popup-width="700"] {
    width: 90%;
  }

  /* line 852, ../scss/_modals.scss */
  .feedback {
    width: 100%;
  }
}
@media only screen and (max-width: 667px) {
  /* line 860, ../scss/_modals.scss */
  .modal__title {
    font-size: 26px;
  }
  /* line 866, ../scss/_modals.scss */
  .modal__subtitle {
    font-size: 18px;
    font-weight: normal;
  }
  /* line 871, ../scss/_modals.scss */
  .modal__text {
    font-size: 16px;
  }
  /* line 875, ../scss/_modals.scss */
  .modal .title--3 {
    font-size: 22px;
  }

  /* line 880, ../scss/_modals.scss */
  .form .grid--30p,
  .form .grid--70p,
  .form .grid--40p,
  .form .grid--60p,
  .form .grid--65p {
    width: 100%;
    float: none;
    text-align: left;
  }
  /* line 891, ../scss/_modals.scss */
  .form table td {
    width: 100%;
    display: inline-block;
  }

  /* line 898, ../scss/_modals.scss */
  .capcha-box__field-wrap {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 550px) {
  /* line 909, ../scss/_modals.scss */
  .modal__body, .modal__body[data-popup-width="700"] {
    width: 96%;
    padding: 30px 10px;
  }

  /* line 917, ../scss/_modals.scss */
  .filter_wrap__select .form__label {
    width: 100%;
    float: none;
  }

  /* line 922, ../scss/_modals.scss */
  .filter_select__lg,
  .filter_select__md {
    width: 100%;
    float: none;
  }
}
/*SOCIAL - ╤ü╨╛╤å╨╕╨░╨╗╤î╨╜╤ï╨╡ ╨║╨╜╨╛╨┐╨║╨╕*/
/* line 1, ../scss/_social.scss */
.social {
  text-align: center;
  font-size: 0;
  line-height: 0;
  margin-top: 15px;
}
/* line 7, ../scss/_social.scss */
.social__item {
  display: inline-block;
  margin: 0 20px;
  font-size: 14px;
  line-height: 30px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-decoration: none;
  opacity: .9;
}
/* line 21, ../scss/_social.scss */
.social__item img {
  width: 100%;
}
/* line 25, ../scss/_social.scss */
.social__item:hover {
  opacity: 1;
}
