$font-size: 25px;
$height: 62px;
$padding: 0 20px;
$border-radius: 5px;

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 6px 0 #66211b;
  border-radius: 11px;
  background-color: #e23e21;
  border: none;
  font-weight: bold;
  display: inline-block;
  font-size: $font-size;
  line-height: $height;
  height: $height;
  padding: $padding;
  color: #ffffff;
  border-radius: $border-radius;
  cursor: pointer;
  text-align: center;
  outline: none;
  min-width: 230px;
  text-transform: uppercase;

  &:hover {
    color: #FFF;
    box-shadow: 2px -6px 0 transparent;
  }

  &--default,
  &[disabled] {
    cursor: default;
    opacity: .4;
  }
}


.button2{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 6px 0 #66211b;
  border-radius: 11px;
  background-color: #e23e21;
  border: none;
  display: inline-block;
  font-size: 18px;
  line-height: 42px;
  height: 42px;
  padding: 0 20px;
  color: #ffffff;
  border-radius: $border-radius;
  cursor: pointer;
  text-align: center;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    opacity: 1;
    background-color: #e73313;
    box-shadow: 2px 6px 0 #010101;
  }

  &--default,
  &[disabled] {
    cursor: default;
    opacity: .4;
  }
}

.button3{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 2px 6px 0 #010101;
  background-color: #ffc000;
  border: none;
  display: inline-block;
  font-size: 23px;
  line-height: 55px;
  height: 50px;
  padding: 0 10px;
  color: #ffffff;
  border-radius: $border-radius;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #000000;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;

  &:hover {
    opacity: 1;
    background-color: #e73313;
    box-shadow: 2px 6px 0 #010101;
  }

  &--default,
  &[disabled] {
    cursor: default;
    opacity: .4;
  }
}


// RESPONSIVE _button
  @media only screen and (max-width: 768px) {
    .button{
      font-size: 24px;
      min-width: 180px;
    }
  }