@font-face {
  font-family: 'Conv_ReformaGroteskDemiC';
  src: url('../font/ReformaGroteskDemiC.eot');
  src: local('☺'), url('../font/ReformaGroteskDemiC.woff') format('woff'), url('fonts/ReformaGroteskDemiC.ttf') format('truetype'), url('fonts/ReformaGroteskDemiC.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'a_futuricablackregular';
    src: url('../font/6859-webfont.woff2') format('woff2'),
         url('../font/6859-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'LEGOChalet60-Bold';
  src: url('../font/LEGOChalet60-Bold.eot');
  src: url('../font/LEGOChalet60-Bold.ttf') format('truetype'),
       url('../font/LEGOChalet60-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic');

$font-size: 18px;
$line-height: 1.27;
$color: #fff;
$background: #001041;

$font-family: 'PT Sans', sans-serif;



html {
  height: 100%;

}

body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;
  margin: 0;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  background: $background;
  font-family: $font-family, sans-serif;
  font-weight: normal;
  font-style: normal;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


// -----------  Content  -------------

#content{
  background: url(../images/bg.jpg) 0 0 repeat-x;
  -webkit-background-size: auto 100%;
       -o-background-size: auto 100%;
          background-size: auto 100%;
  background-attachment: fixed;
  overflow: hidden;
  margin-top: 65px;
  padding-top: 30px;
}

.container{
  width: 1140px;
  margin: 0 auto;
}

header+.container{
  // padding-top: 54px;
}


.container2{
  width: 840px;
  margin: 0 auto;
}

//цвета выделения
::selection,
::-moz-selection {
  background: #000;
  color: #fff;
}

.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

.fw_bold{
  font-weight: bold;
}

//абзацы
p {
  margin: 0 0 15px 0;
  min-height: 1px;
}

//ссылки
a {
  color: $color;
  text-decoration: none;

  &:hover {
    color: #ffc000;
    text-decoration: none;
  }

}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}



  .mb1{ margin-bottom:1px;}
  .mb2{ margin-bottom:2px;}
  .mb3{ margin-bottom:3px;}
  .mb4{ margin-bottom:4px;}
  .mb5{ margin-bottom:5px;}
  .mb6{ margin-bottom:6px;}
  .mb7{ margin-bottom:7px;}
  .mb8{ margin-bottom:8px;}
  .mb9{ margin-bottom:9px;}
  .mb10{ margin-bottom:10px;}
  .mb11{ margin-bottom:11px;}
  .mb12{ margin-bottom:12px;}
  .mb13{ margin-bottom:13px;}
  .mb14{ margin-bottom:14px;}
  .mb15{ margin-bottom:15px;}
  .mb16{ margin-bottom:16px;}
  .mb17{ margin-bottom:17px;}
  .mb18{ margin-bottom:18px;}
  .mb19{ margin-bottom:19px;}
  .mb20{ margin-bottom:20px;}
  .mb21{ margin-bottom:21px;}
  .mb22{ margin-bottom:22px;}
  .mb23{ margin-bottom:23px;}
  .mb24{ margin-bottom:24px;}
  .mb25{ margin-bottom:25px;}
  .mb26{ margin-bottom:26px;}
  .mb27{ margin-bottom:27px;}
  .mb28{ margin-bottom:28px;}
  .mb29{ margin-bottom:29px;}
  .mb30{ margin-bottom:30px;}
  .mb31{ margin-bottom:31px;}
  .mb32{ margin-bottom:32px;}
  .mb33{ margin-bottom:33px;}
  .mb34{ margin-bottom:34px;}
  .mb35{ margin-bottom:35px;}
  .mb36{ margin-bottom:36px;}
  .mb37{ margin-bottom:37px;}
  .mb38{ margin-bottom:38px;}
  .mb39{ margin-bottom:39px;}
  .mb40{ margin-bottom:40px;}
  .mb41{ margin-bottom:41px;}
  .mb42{ margin-bottom:42px;}
  .mb43{ margin-bottom:43px;}
  .mb44{ margin-bottom:44px;}
  .mb45{ margin-bottom:45px;}
  .mb46{ margin-bottom:46px;}
  .mb47{ margin-bottom:47px;}
  .mb48{ margin-bottom:48px;}
  .mb49{ margin-bottom:49px;}
  .mb50{ margin-bottom:50px;}
  .mb51{ margin-bottom:51px;}
  .mb52{ margin-bottom:52px;}
  .mb53{ margin-bottom:53px;}
  .mb54{ margin-bottom:54px;}
  .mb55{ margin-bottom:55px;}
  .mb58{ margin-bottom:58px;}
  .mb62{ margin-bottom:62px;}
  .mb75{ margin-bottom: 75px;}
  .mb125{ margin-bottom: 125px;}


.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}

.td_und{text-decoration: underline;}
a.td_und{
  text-decoration: underline;
  &:hover{text-decoration: none;}
}


// colors

.blue-color{
  color: #151830;
}

.red-color{
  color: #e3010d;
}

.yellow-color{
  color: #ffc000;
}

.green-color{
  color: #1A4B27;
}

.white-color{
  color: #FFF;
}

.zoom-img{
  max-width: 100%;
  height: auto;
}


/*================================>> hovers <<========================================*/
  a{
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
  }
  a:hover{
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease;
  }



// fonts 
.grotesk{
  font-family: 'Conv_ReformaGroteskDemiC', sans-serif;
  font-weight: normal;
  font-style: normal;
}
.afuturica{
  font-family: 'a_futuricablackregular', sans-serif;
}
.ptsans_nar{
  font-family: 'PT Sans Narrow', sans-serif;
}
.lego_bold{font-family: 'LEGOChalet60-Bold', sans-serif;}

.lego_reg{font-family: 'LEGOChalet60-Bold', sans-serif; font-weight: 400;}

@media only screen and (max-width: 1200px){
  .container{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px; 
  }

  .container2{
    width: 100%;
  }
}