//fog variables
$fogBackground: #000;
$fogOpacity: .6;

//modal variables
$modalWidth: 640px; //
$modalBackground: #001041;
$modalBorder: none;
$modalBorderRadius: 7px;
$modalBoxShadow: 0 0 20px rgba(0, 0, 0, .6);
$modalPadding: 30px;

$modalTextAlign: left;
$modalFontSize: 16px;
$modalLineHeight: 22px;

//modal close button
$modalCloseWidth: 28px;
$modalCloseHeight: 28px;
$modalCloseTop: 5px;
$modalCloseRight: 6px;
$modalCloseBackground: url(../images/icon/r_close.png) 0 0 no-repeat;

//modal title
$modalTitleFontSize: 32px;
$modalTitleLineHeight: 1;
$modalTitleFontWeight: bold;
$modalTitleTextAlign: center;
$modalTitleFontColor: #fff;
$modalTitleMargin: 40px;


//modal header
$modalHeaderPadding: 0;
$modalHeaderBorderBottom: none;

//modal content
$modalContentPadding: 0;
$modalContentColor: #fff;

//modal footer
$modalFooterPadding: 0;
$modalFooterBorderTop: none;
$modalFooterMargin: 0;

.body-modal {
	overflow: hidden;
}

.modal {
	&s {
		&__fog {
			position: absolute;
			display: none;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: $fogBackground;
			opacity: $fogOpacity;
			z-index: 1000;
		}
	}

		

	color: #000;
	overflow: auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	z-index: 1001;
	text-align: center;
	vertical-align: middle;
	bottom: 0;
	display: none;
	font-size: $modalFontSize;
	line-height: $modalLineHeight;

	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		width: 1px;
		vertical-align: middle;
	}

	&__body {
		position: relative;
		z-index: 1;
		padding: $modalPadding;
		width: $modalWidth;
		box-sizing: border-box;
		display: inline-block;
		background: $modalBackground;
		text-align: $modalTextAlign;
		border: $modalBorder;
		vertical-align: middle;
		border-radius: $modalBorderRadius;
		box-shadow: $modalBoxShadow;
		
		&[data-popup-width="700"]{
			width: 700px;
		}
	}

	&__header {
		padding: $modalHeaderPadding;
		border-bottom: $modalHeaderBorderBottom;
	}

	&__content {
		padding: $modalContentPadding;
		color: $modalContentColor;
	}

	&__footer {
		padding: $modalFooterPadding;
		border-top: $modalFooterBorderTop;
		margin: $modalFooterMargin;
	}

	&__close {
		position: absolute;
		z-index: 1;
		right: $modalCloseRight;
		top: $modalCloseTop;
		background: $modalCloseBackground;
		width: $modalCloseWidth;
		height: $modalCloseHeight;
		-webkit-background-size: 100%;
		     -o-background-size: 100%;
		        background-size: 100%;
		
		&:hover{
			opacity: 0.8;
		}
	}

	&__title {
		font-family: inherit;
		font-size: $modalTitleFontSize;
		line-height: $modalTitleLineHeight;
		text-align: $modalTitleTextAlign;
		font-weight: $modalTitleFontWeight;
		color: $modalTitleFontColor;
		text-transform: uppercase;
		margin-bottom: $modalTitleMargin;
		
	}
}


.grids:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.grid--45p{
	width: 50%;
	float: left;
}
.grid--25p{
	width: 25%;
	float: left;
}
.grid--28p{
	width: 28%;
	float: left;
}
.grid--30p{
	width: 30%;
	float: left;
}
.grid--40p{
	width: 40%;
	float: left;
}
.grid--33p{
	width: 33%;
	float: left;
}
.grid--70p{
	width: 70%;
	float: left;
}
.grid--60p{
	width: 60%;
}
.grid--65p{
	width: 65%;
}
.grid--right{
	float: right;
}


	// ADD WORK
		.modal--add{

			.dropzone{
				width: 250px;
				height: 297px;
				cursor: pointer;
				background: url(../images/file_icon.png) 0 0 no-repeat;
				-webkit-background-size: 100%;
				     -o-background-size: 100%;
				        background-size: 100%;
			}

			.dropzone.dz-started{
				background: url(../images/file_icon_dz.png) 0 0 no-repeat;
				-webkit-background-size: 100%;
				     -o-background-size: 100%;
				        background-size: 100%;
				    
				line-height: 296px;
				height: 296px;
			}
			.dz-preview{
				padding: 10px;
				text-align: center;
				line-height: normal;
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				
				
				.dz-filename{
					font-size: 18px;
					color: #FFC000;
					font-weight: bold;
					margin-bottom: 25px;
					text-transform: uppercase;
				}
				
				.dz-size,
				.dz-image,
				.dz-error-message,
				.dz-success-mark{display: none;}
			}

			.grid--right{
				font-size: 21px;
				padding-top: 70px;

				input{
					opacity: 0;
					width: 100%;
					height: 55px;
					// margin-top: -55px;
					display: block;
					outline: none;
					cursor: pointer;
				}
				.upload{
					margin-top: -55px;
				}
				input:hover + .upload{
					opacity: 1;
				    background-color: #e73313;
				    box-shadow: 2px 6px 0 #010101;
				}

			}

			.form__row{
				margin-bottom: 20px;
			}

			
		}

	.form{
		
		&__label{
			display: block;
			width: 100%;
			font-weight: bold;
			font-size: 22px;
			margin-bottom: 7px;
			line-height: 2;
		}

		&__input input{
			width: 100%;
			height: 44px;
			font-size: 18px;
			font-family: "PT Sans", sans-serif, sans-serif;
			padding-left: 20px;
			padding-right: 20px;
			background-color: #FFF;
			border: none;
			outline: none;
			-webkit-border-radius: 10px;
			        border-radius: 10px;
		}
		button{
			margin-top: 20px;
			// font-family: 'PT Sans Narrow', sans-serif;
		}

		&__row{
			margin-bottom: 20px;
		}
		&__error{
			width: 70%;
			float: right;
		}

		&__select{
			padding-top: 5px;
		}

		&__description{
			font-size: 13px;
			line-height: 1.3;
		}

		&__checkbox{
			position: relative;
			display: block;
			width: 48px;
			height: 25px;
			float: left;
				margin-top: 2px;
			// cursor: pointer;
			
			input[type="checkbox"]{
				position: absolute;
				width: 23px;
				height: 23px;
				margin: 0;
				background-color: #FFF;
				opacity: 0;
				cursor: pointer;
				z-index: 30;

			}

			input[type="checkbox"] + span{
				width: 23px;
				height: 23px;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				background: #fff;
				z-index: 10;

				-webkit-border-radius: 50%;
				        border-radius: 50%;
			}

			input[type="checkbox"]:checked + span::after{
				width: 19px;
				height: 19px;
				display: block;
				position: absolute;
				top: 2px;
				left: 2px;
				background: #151830;
				content: "";
				z-index: 20;
				

				-webkit-border-radius: 50%;
				        border-radius: 50%;
			}

			
		}
		&__checkbox+label{
			width: calc(100% - 48px);
			float: left;
			font-weight: normal;
			font-size: 18px;
			line-height: 1.5;
		}

		&__textarea{
			background: #fff;
			height: 243px;
			position: relative;
			border: none;
			box-shadow: none;
			-webkit-border-radius: 10px;
			        border-radius: 10px;

			textarea {
				font-family: inherit;
				color: #000;
				font-size: 18px;
				line-height: 1.5;
				
				z-index: 2;
				display: block;
				width: 100%;
				padding: 10px 20px;
				outline: none;
				background: none;
				box-sizing: border-box;
				border: none;
				resize: none;
			}
		}

		
	}

	.modal__subtitle{
		font-weight: bold;
	    font-size: 20px;
	    line-height: 1;
	}
	.modal__text{
		font-weight: normal;
		font-size: 21px;
		line-height: 1.3;
	}

	// REGISTRATION
		.modal--registration,
		.modal--auth{
			

			

			.social{
				text-align: center;

				&__item{
					width: 48px;
					height: 48px;
					display: inline-block;
					
					img{
						width: 100%;
						height: 100%;
					}
				}
			}

			.form__elem--str{
				display: inline-block;
			}

		}

	//  PASSWORD CHANGE
		.modal--password-change{
			
			.form__label{
				font-size: 21px;
			}
		}


	//  modal--add-thx
		.modal--add-thx{
			.button{font-size: 24px;}
		}


/*============================ Arctic modal =============================*/
	.popup_opacity ~ .arcticmodal-overlay{
	  background-color: rgba(0 , 0 , 0 , 0.9) !important; 
	}
	.arcticmodal-overlay{
	  background-color: rgba(0 , 0 , 0 , 0.8) !important;
	  opacity: 1 !important;
	}
	.arcticmodal-overlay,
	.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000;z-index: 99999; }
	.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
	*:first-child+html .arcticmodal-container { height: 100% ;}
	.arcticmodal-container_i { height: 100%; margin: 0 auto; }
	.arcticmodal-container_i2 { padding: 50px; margin: 0; border: 0; vertical-align: middle; }
	.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
	.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }
	.d_none{
		display: none;
	}


.box-modal{
	margin: 0 auto;
	padding: 35px 34px 35px 56px;
	position: relative;
	background: $modalBackground;
	width: 700px;
	-webkit-border-radius: $modalBorderRadius;
	        border-radius: $modalBorderRadius;
}

	.arcticmodal-close{
		position: absolute;
		top: 27px;
		right: 36px;
		width: 28px;
		height: 28px;
		cursor: pointer;
		background: url(../images/r_close.png) 0 0 no-repeat;
		-webkit-background-size: 100%;
		     -o-background-size: 100%;
		        background-size: 100%;
		
		&:hover{
			background-image: url(../images/close.png);
		}
	}

.add_work{
	
	.form_row{
		position: relative;
	}

	&__form{
		

		

		figure{
			
			.form_row{
				
			}
			
			.form_row,
			figcaption{
				float: left;
				width: 50%;
			}

			figcaption{
				padding-top: 70px;
				
				h5.fw_bold{
					font-weight: bold;
					line-height: 1.2;
					letter-spacing: 0.7px;
				}
				input{
					opacity: 0;
					width: 100%;
					height: 55px;
					// margin-top: -55px;
					display: block;
					outline: none;
					cursor: pointer;
				}
				.upload{
					margin-top: -55px;
				}
				input:hover + .upload{
					opacity: 1;
				    background-color: #e73313;
				    box-shadow: 2px 6px 0 #010101;
				}
			}

		}

		

		button{
			font-family: "PT Sans", sans-serif, sans-serif;
			margin-left: auto;
			margin-right: auto;
			display: block;margin-top: 30px;
		}
	}
}


.form_row{
	margin-bottom: 20px;
}

.form_label{
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 7px;
}

input.basic_input{
	width: 100%;
	height: 44px;
	font-size: 18px;
	font-family: "PT Sans", sans-serif, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #FFF;
	border: none;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
}


.fz13{font-size: 13px;}
.d_block{display: block;}

.form-label--2{
	display: block;
	float: left;
	width: 220px;
	font-weight: bold;
	line-height: 44px;
	font-size: 22px;

	& + .basic_input{
		float: left;
		width: calc(100% - 220px);
	}
}


.jq-selectbox__select{
	width: 100%;
	height: 44px;
	line-height: 44px;
	font-size: 18px;
	font-family: "PT Sans", sans-serif, sans-serif;
	padding-left: 13px;
	padding-right: 20px;
	text-align: left;
	background-color: #FFF;
	border: none;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	color: #151830;
}


.jq-selectbox__select-text.placeholder{
	color: #d0d1d6;
}

.birth-selects-wrapper{
	padding-top: 5px;

	.select{
		margin-left: 15px;
	}
}

	.birth-select--small{
		width: 74px;
	}

	.birth-select--large{
		width: 125px;
	}


	.sort-select--small{
		width: 220px;
	}

	.sort-select--lg{
		width: 324px;
	}




.checkbox-wrap{
	display: block;

	input[type="checkbox"]{
		visibility: hidden;


		&:checked + span::after{
			visibility: visible;
		}
	}


	.checkbox-label{
		position: relative;
		display: block;
		padding-left: 45px;
		cursor: pointer;

		&::before{
			width: 23px;
			height: 23px;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background: #fff;
			content: "";
			
			-webkit-border-radius: 50%;
			        border-radius: 50%;
		}

		&::after{
			width: 17px;
			height: 17px;
			display: block;
			position: absolute;
			top: 3px;
			left: 3px;
			background: #151830;
			visibility: hidden;
			content: "";
			
			-webkit-border-radius: 50%;
			        border-radius: 50%;
		}
	}


}


.regform-comment-text{
	font-size: 13px;
}


.capcha-box__field-wrap{
	padding-top: 20px;
	width: 221px;
	margin-right: 22px;
}



// Filter 

.filter_select__md{
	width: 221px;

	.jq-selectbox{
		width: 100%;
	}
}
.filter_select__lg{
	width: 328px;

	.jq-selectbox{
		width: 100%;
	}
}


.filter_wrap{

	.form__row:first-child{
		width: 45%;
		float: left;
	}
	.form__row:last-child{
		width: 55%;
		float: left;
	}

	&__select{

		.form__label{
			width: auto;
			line-height: 2.3;
			margin-right: 20px;
			display: inline-block;
		}
	}

			
}


// Feedback

.feedback{
	width: 560px;
	margin-left: auto;
	margin-right: auto;
}

.file__elem{
	opacity: 1;
	position: relative;
	margin-bottom: 30px;
	
		
		input{
			padding: 16px 0;
			z-index: 50;
			position: relative;
			opacity: 0;
			cursor: pointer;
			float: right;
		}
	
	&__text{
		position: absolute;
		z-index: 10;
		top: 0;
		right: 0;
		font-size: 25px;
		font-weight: bold;
		color: #FFF;
		line-height: 1.5;
		padding: 5px 20px;
		border: 3px solid #fff;
		// background-color: #FBB342;
		-webkit-border-radius: 5px;
		        border-radius: 5px;
		font-family: 'PT Sans Narrow', sans-serif;
	}
}

// RESPONSIVE _modals
	@media only screen and (max-width: 1024px) {
		.form__label{
			font-size: 19px;
		}
	}

	@media only screen and (max-width: 991px) {
		.filter_wrap > .form__row{

			&:first-child,
			&:last-child{
				width: 100%;
				float: none;
				margin-bottom: 20px;
			}
				
		}
	}

	@media only screen and (max-width: 786px) {
		.modal{
			
			&__body,
			&__body[data-popup-width="700"]{
				width: 90%;
			}
		}
		.feedback{
			width: 100%;
		}
	}

	@media only screen and (max-width: 667px) {
		.modal{

			&__title{
				font-size: 26px;
			}
			
			

			&__subtitle{
				font-size: 18px;
				font-weight: normal;
			}

			&__text{
				font-size: 16px;
			}

			.title--3{font-size: 22px;}
		}

		.form{
				
				.grid--30p,
				.grid--70p,
				.grid--40p,
				.grid--60p,
				.grid--65p{
					width: 100%;
					float: none;
					text-align: left;
				}

				table{
					td{
						width: 100%;
						display: inline-block;
					}
				}
			}

		.capcha-box__field-wrap{
			float: none;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}
	}

	@media only screen and (max-width: 550px) {
		.modal{
			
			&__body,
			&__body[data-popup-width="700"]{
				width: 96%;
				
				padding: 30px 10px;
			}
		}

		.filter_wrap__select .form__label{
			width: 100%;
			float: none;
		}

		.filter_select__lg,
		.filter_select__md{
			width: 100%;
			float: none;
		}
	}