.social {
  text-align: center;
  font-size: 0;
  line-height: 0;
  margin-top: 15px;

  &__item {
    display: inline-block;
    margin: 0 20px;
    font-size: 14px;
    line-height: 30px;

    width: 48px;
    height: 48px;

    border-radius: 50%;
    
    text-decoration: none;
    opacity: .9;
    
    img{
      width: 100%;
    }

    &:hover {
      opacity: 1;
    }
  }
}