.main_banner{
	min-height: 100%;
	position: relative;
	// text-align: center;
	padding-top: 500px;
	padding-bottom: 3%;
	
	.title--2{
		width: 390px;
		font-size: 45px;
		padding: 43px 25px;
		text-align: center;
		font-weight: 400;
		margin-bottom: 230px;
	}

	&__img_box{
		left: 50%;
		top: 130px;
		-webkit-transform: translateX(160px);
		   -moz-transform: translateX(160px);
		    -ms-transform: translateX(160px);
		     -o-transform: translateX(160px);
		        transform: translateX(160px);
		position: absolute;
	}
}


[data-bg="main_bg"]{
	// margin-top: 45px;
	background: url(../images/main_bg.png) 50px 0 no-repeat;
}

.prizes_box{
	max-width: 96%;
	margin: 0 auto;
	
	img{
		max-width: 100%;
	}
}



// RESPONSIVE _banners
	@media only screen and (max-width: 1199px) {
		
		.step2{
			margin-top: 0;
		}

		[data-bg="main_bg"]{
			background-position: 0 0;
		}
	}

	@media only screen and (max-width: 1024px) {

		.main_banner__img_box{display: none;}

	}

	@media only screen and (max-width: 995px) {

		.step__item{
			&__img{
				width: 60px;
				height: 60px;
				margin-top: 13px;
				img{max-width: 100%;}
			}
			&__text{
				width: calc(100% - 65px);
			}
		}

	}

	@media only screen and (max-width: 850px) {

		.step__item{
			width: 50%;
		}

		.step__item:last-child::after{display: none;}

		.step__item:nth-child(2)::before{right: 0;}

	}

	@media only screen and (max-width: 768px) {
		
		[data-bg="main_bg"]{
			padding-top: 270px;
			-webkit-background-size: 80%;
			     -o-background-size: 80%;
			        background-size: 80%;
		}
	}

	@media only screen and (max-width: 768px) {
		
		[data-bg="main_bg"]{
			padding-top: 220px;
			-webkit-background-size: 100%;
			     -o-background-size: 100%;
			        background-size: 100%;
		}
	}

	@media only screen and (max-width: 480px) {
		
		[data-bg="main_bg"]{
			// padding-top: 300px;
		}

		.step__item{
			float: none;
			width: 100%;
			
			&:not(:last-child)::before{right: 0;}
		}
	}