footer{
	padding: 34px 0;
	// box-shadow: 0 -5px 14px rgba(1,1,1,.35);
	text-align: center;
	background: url(../images/bg.jpg) 0 0 repeat-x; 
}

.footer-nav{

	li{
		display: inline-block;
		position: relative;
		font-size: 19px;
		padding: 0 50px;

		&::before{
			width: 6px;
			height: 6px;
			display: block;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -3px;
			background-color: #fff;
			content: "";
		}

		&:first-child::before{
			display: none;
		}
	}
}


.footer-copyright{
	font-size: 13px;
	line-height: 18px;
}

// RESPONSIVE _footer

	@media only screen and (max-width: 1024px) {


		.footer-nav{
			
			li{
				padding: 0 30px;
			}
		}

		
	}

	@media only screen and (max-width: 768px) {
		.footer-nav {
			
			li{
				width: 100%;
				float: none;
				

				&::before{
					display: none;
				}
			}
		}
	}