.inner-page{


	&__rules{
		background-color: #fff;
		padding: 18px 0;
	}

	&__img-box{
		height: 285px;
		background: url(../images/banner_img2.jpg) 50% 50% no-repeat;
		background-size: 100% auto;
		margin-top: 54px;
		position: relative;

		&.var2 .img-box__title{
			padding-top: 60px;
		}


		&__dop{
			// opacity: 0;
			position: absolute;
			right: -300px;
			bottom: -61px;
			
			-webkit-transition: all 0.7s ease;
		      -moz-transition: all 0.7s ease;
		      -o-transition: all 0.7s ease;
		      transition: all 0.7s ease;
		}
	}
}

.loaded{
	
	.inner-page__img-box__dop{
		right: 0;
	}
}




	.img-box__title{
		font-size: 37px;
		line-height: 1.2;
		padding-top: 25px;
	}

// RESPONSIVE _inner-img-box
	@media only screen and (max-width: 1024px) {
		.inner-page{
			&__img-box{
				
				-webkit-background-size: auto 100%;
				     -o-background-size: auto 100%;
				        background-size: auto 100%;
			}
		}
	}

	@media only screen and (max-width: 768px) {
		.inner-page__img-box__dop{
			display: none;
		}

		.inner-page{


			&__rules{
				overflow: hidden;
			}

		}

		.inner-page__img-box + .inner-page__rules{
			
			.step-rule{
				margin-right: 10px;
				margin-bottom: 20px;
			}
		}

		.img-box__title{
			font-size: 30px;
		}
	}

	@media only screen and (max-width: 480px) {
		.img-box__title{
			font-size: 20px;
			padding-top: 45px;
		}
	}