.personal-data{
	display: table;
	width: 100%;

	&__item{
		display: table-cell;
		width: 33.3%;
		
		&:last-child{vertical-align: middle;}
		
	}

	&__list{

		> li:first-child ~ li{
			margin-top: 35px;
		}

		strong{
			display: inline-block;
			margin-right: 30px;
		}
	}
}

// RESPONSIVE _personal-data
	@media only screen and (max-width: 768px) {
		
		.personal-data__item{
			width: 50%;
			display: inline-block;
			margin-bottom: 30px;
			
			&:last-child{
				width: 100%;
				text-align: center;
			}
		}
	}

	@media only screen and (max-width: 667px) {
		.personal-data{
			margin-bottom: 20px;
		}
		
		.personal-data__item{
			width: 100%;
			float: none;
			
		}

		.personal-gallery-box{
			padding-top: 50px;
		}
	}