.pic-box{
	min-height: 100%;
	position: relative;
	
	
	img{
		max-width: 100%;
		height: auto;
	}

	&__hero1{
		position: absolute;
		left: 0;
		top: 0;
		background: url(../images/big-pick1.png) 0 0 no-repeat;
		background-size: 100% auto;
		width: 476px;
		height: 535px;
		-moz-transform: translateX(-100px);
		-webkit-transform: translateX(-100px);
		-o-transform: translateX(-100px);
		-ms-transform: translateX(-100px);
		transform: translateX(-100px);
	}

	&__hero2{
		position: absolute;
		right: 0;
		top: 100px;
		width: 470px;
		height: 384px;
		background: url(../images/big-pick2.png) 0 0 no-repeat;
		background-size: 100% auto;
		-moz-transform: translateX(100px);
		-webkit-transform: translateX(100px);
		-o-transform: translateX(100px);
		-ms-transform: translateX(100px);
		transform: translateX(100px);
	}


	&__hero1,
	&__hero2{
		opacity: 0;
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}

	&__intro-banner{
		position: absolute;
		right: 40px;
		bottom: 45px;
	}

	&__content{
		z-index: 88;
		padding-top: 13%;
		text-align: center;
		line-height: 1;

	}

	&__title1{
		text-shadow: 5px 5px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
		font-size: 50px;
	}

	&__title2{
		text-shadow: 4px 8px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
		font-size: 64px;
		line-height: 1.1;
	}

	&__title1,
	&__title2{
		padding-left: 80px;
		-moz-transform: rotate(-2deg);
		-webkit-transform: rotate(-2deg);
		-o-transform: rotate(-2deg);
		-ms-transform: rotate(-2deg);
		transform: rotate(-2deg);
		letter-spacing: 2px;
		font-style: italic;
		filter: progid:DXImageTransform.Microsoft.Shadow(color=#0000FF,direction=45);
	}

	&__steps{
		background-color: #000;
		font-size: 18px;
		text-transform: uppercase;
		font-style: italic;
		margin: 0 120px 45px;
		padding: 8px 0;
		font-weight: bold;

		li{
			float: left;
			width: 33.3%;
			padding: 0 30px 0 25px;
			line-height: 1.23;
			background: url(../images/step-arrow-white.png) right 50% no-repeat;
			background-size: 20px auto;

			&:last-child{
				background: none;
			}
		}
	}
}


.loaded{
	
	.pic-box__hero1,
	.pic-box__hero2{
		opacity: 1;
		-moz-transform: translateX(0px);
		-webkit-transform: translateX(0px);
		-o-transform: translateX(0px);
		-ms-transform: translateX(0px);
		transform: translateX(0px);
		transition-delay: 1s;
	}
}

@media only screen and (max-width: 1000px){
  .pic-box__hero1,
  .pic-box__hero2{
  	display: none;
  }
}