[data-prize="prizes"]{
	position: relative;
	text-align: center;
	padding-bottom: 5%;
	
	[class^="prize_img"]{
		position: absolute;
		display: inline-block;
		// bottom: -105px;
		bottom: 20px;
	}

	.prize_img1{
		left: 0;
	}
	.prize_img2{
		right: 0;
	}

}

.winner_box{
	text-align: center;
	
	&__name{
		font-size: 20px;
	}

	.img_box{
		margin-top: -10px;
	}
}


/*----------- responsive ----------*/
  @media only screen and (max-width: 1024px) {
    [data-prize="prizes"] .prize_img2 {
	    display: none;
    }
    [data-prize="prizes"] .prize_img1 {
	    display: none;
	}
	.img_box img{
		max-width: 100%;
	}

	.prizes_box{
		max-width: 100%;
	}

  }