
.step{
	
	&__item{
		width: 25%;
		float: left;
		position: relative;
		
		&::before{
			content: "";
			top: 13px;
			left: 10px;
			right: 0;
			height: 60px;
			position: absolute;
			-webkit-border-radius: 30px;
			        border-radius: 30px;
			background: url(../images/bg.jpg) 0 0 no-repeat;
		}
		&:not(:last-child)::before{
			right: -55px;
		}

		&:last-child{
			&::after{
				content: "";
				width: 218px;
				height: 216px;
				top: -90px;
				right: 0;
				visibility: visible;
				position: absolute;
				background: url(../images/round_img.png) 0 0 no-repeat;
			}
		}
		
		&__img{
			float: left;
			width: 85px;
			z-index: 20;
			position: relative;
		}

		&__text{
			float: left;
			z-index: 20;
			height: 60px;
			display: table;
			margin-top: 13px;
			font-size: 12px;
			position: relative;
			text-align: center;
			width: calc(100% - 90px);
			text-transform: uppercase;
			font-family: 'LEGOChalet60-Bold', sans-serif; 
			
			span{
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}