.data_table{
	border: 10px solid #fff;
	-webkit-border-radius: 25px;
	        border-radius: 25px;
	    margin-bottom: 115px;

	
	&__row{
		line-height: 2.2;
		
		&:not(:last-child){border-bottom: 4.5px solid #fff;}

		&:first-child{
			color: #001041;
			background-color: #FFF;
			span{color: #001041;}
			font-family: 'LEGOChalet60-Bold', sans-serif;
		}
		
		span{
			width: 48%;
			color: #FFF;
			font-size: 25px;
			font-weight: 400;
			text-align: center;
			
			
			&:first-child{
				float: left;
				border-right: 6px solid #fff;
			}

			&:last-child{
				float: right;
			}
		}
	}
}

@media only screen and (max-width: 615px) {
	.data_table{
		border: 7px solid #fff;
		
		&__row{
			
			span{
				font-size: 18px;
			}
		}
	}
}

@media only screen and (max-width: 479px) {
	.data_table{
		
		&__row{
			// &:first-child{display: none;}
			
			span{
				width: 100%;
				float: none;
				font-size: 18px;
				
				&:first-child{border: none;}
			}
		}
	}
}