.work-item{
	box-shadow: 20px 25px 0 rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	border: 5px solid #ffffff;
	background-color: #151830;
	

	&__author-name{
		/* Style for "Rounded Re" */
		width: 155px;
		height: 23px;
		background-color: #ffffff;
		border-radius: 50%;
	}

	figcaption{
		height: 76px;
		background-color: #ffffff;
	}
}

